.booked_details-section {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 4rem;

    max-width: 120rem;
    padding: 5.6rem 3.2rem;
    margin: 0 auto;
}

.booked_book-img {
    width: 200px;
    height: auto;
    border-radius: 4px 4px 4px 4px;
}

.booked_card {
    width: 30rem;
    background-color: var(--secondary-color);
    height: Hug (40rem)rem;
    top: 224em;
    left: 60em;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 0.5em 0.5em 0em 0em;
    
    border: 1px solid #0909371A;
}

.booked_details-title {
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    line-height: 5rem;
}

.booked_details-author {
    font-size: 3rem;
    font-weight: 300;
    text-align: left;
    line-height: 4rem;
    margin-bottom: 3rem;
}

.booked_details-sumtitle {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.booked_details-summary {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: left;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
    .booked_details-section {
        flex-direction: column;
    }
}

@media screen and (max-width: 950px) {
    .booked_card {
        width: 25rem;
        height: Hug (35rem)rem;
        top: 200em;
        left: 50em;
        padding: 1.5rem 0.75rem 1.5rem 0.75rem;
    }

    .booked_book-img {
        width: 150px;
        height: auto;
        border-radius: 4px 4px 4px 4px;
    }
}

@media screen and (max-width: 700px) {
    .booked_card {
        width: 20rem;
        height: Hug (30rem)rem;
        top: 200em;
        left: 50em;
        padding: 1rem 0.5rem 1rem 0.5rem;
    }   

    .booked_book-img {
        width: 120px;
        height: auto;
        border-radius: 4px 4px 4px 4px;
    }
}