/* Container for the login page */
.booked_login-container {
    display: flex;
    align-items: center;
    margin: auto;
  }

.booked_form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   align-self: center;
   justify-self: center;
   width: 100%;
}

.booked_login-img_container {
  max-width: 50%;
}

  .booked_login-img_container img {
    height: 100vh
  }
  
  /* Wrapper for the login form */
  .login-form-wrapper {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }

  .booked_welcome {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
    text-align: left;
}

.booked_login-logo {
  width: 20rem;
  margin-bottom: 10rem;
} 
   
  /* Form header */
  .login-form-wrapper h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: left;

    margin-bottom: 4rem;
    color: var(--main-color);
}
  
  /* The login form itself */
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .login-form label {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: left;
  }
  
  /* Input fields styling */
  .login-form input {
    padding: 0.8rem;
    border-radius: 4px;
    color: #999;
    
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
    background-color: var(--secondary-color);
}
  
  /* Input focus effect */
  .login-form input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 4px rgba(74, 144, 226, 0.5);
  }
  
  /* Submit button styling */
  .login-button {
    background-color: #ef6b4a;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
}
  
  /* Button hover effect */
  .login-button:hover {
    background-color: #357ab8;
  }
  
  /* Welcome message styling */
  .login-form-wrapper h2 + h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #4caf50;
  }

  @media screen and (max-width: 1100px) {
    .booked_login-img_container img {
      display: none;
    }
    .booked_login-container {
      display: inline-block;
    }

    .booked_form-container {
      margin-top: 5rem;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .login-form-wrapper {
      padding: 1.5rem;
    }
  
    .login-form input,
    .login-button {
      font-size: 0.9rem;
    }
  }
}