.booked_card {
    width: 30rem;
    background-color: var(--secondary-color);
    height: Hug (40rem)rem;
    top: 224em;
    left: 60em;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 0.5em 0.5em 0em 0em;
    
    border: 1px solid #0909371A;
}

.booked_book-img {
    /* width: 200px; */
    height: auto;
    border-radius: 4px 4px 4px 4px;
}

.booked_card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 10px 0px 10px 0px;
}

.booked_card-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.booked_card-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.booked_card-author {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.booked_card-price {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-color);
}

.booked_btn,
.booked_btn:link,
.booked_btn:visited {
    display: inline-block;

    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 9px;
    
    color: #ffff;
    background-color: var(--main-color);
    /* Only necessary for .btn */
    border: none;
    cursor: pointer;
    font-family: inherit;
  
    /* Put transition on original "state" */
    /* transition: background-color 0.3s; */
    transition: all 0.3s;
}

/* Media Queries */
@media screen and (max-width: 950px) {
    .booked_card {
        width: 25rem;
        height: Hug (35rem)rem;
        top: 200em;
        left: 50em;
        padding: 1.5rem 0.75rem 1.5rem 0.75rem;
    }

    .booked_book-img {
        width: 150px;
        height: auto;
        border-radius: 4px 4px 4px 4px;
    }

    .booked_card-info {
        gap: 0.3rem;
        padding: 8px 0px 8px 0px;
    }

    .booked_card-title {
        font-size: 1.4rem;
        line-height: 20px;
    }

    .booked_card-author {
        font-size: 1.4rem;
        line-height: 16px;
    }

    .booked_card-price {
        font-size: 1.8rem;
        line-height: 25px;
    }

    .booked_btn,
    .booked_btn:link,
    .booked_btn:visited {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
}

@media screen and (max-width: 700px) {
    .booked_card {
        width: 20rem;
        height: Hug (30rem)rem;
        top: 200em;
        left: 50em;
        padding: 1rem 0.5rem 1rem 0.5rem;
    }   

    .booked_book-img {
        width: 120px;
        height: auto;
        border-radius: 4px 4px 4px 4px;
    }

    .booked_card-info {
        gap: 0.2rem;
        padding: 5px 0px 5px 0px;
    }

    .booked_card-title {
        font-size: 1.2rem;
        line-height: 16px;
    }

    .booked_card-author {
        font-size: 1rem;
        line-height: 12px;
    }

    .booked_card-price {
        font-size: 1.4rem;
        line-height: 20px;
    }

    .booked_btn,
    .booked_btn:link,
    .booked_btn:visited {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}
}